Gun_detection_Yolov3/.ipynb_checkpoints/Colab_Yolov3_train-checkpoint.ipynb
Gun_detection_Yolov3/gun_detection.mp4
Gun_detection_Yolov3/yolov3_custom.weights
Traffic_signs_classification/.ipynb_checkpoints/
Traffic_signs_classification/Meta.csv
Traffic_signs_classification/Meta.tar
Traffic_signs_classification/Test.csv
Traffic_signs_classification/Test.tar
Traffic_signs_classification/Test/
Traffic_signs_classification/Train.csv
Traffic_signs_classification/Train.tar
Traffic_signs_classification/Train/
Traffic_signs_classification/gtsrb-german-traffic-sign.zip
Age_prediction/
