Gun_detection_Yolov3/.ipynb_checkpoints/Colab_Yolov3_train-checkpoint.ipynb
Gun_detection_Yolov3/.ipynb_checkpoints/Colab_train_yolov3-checkpoint.ipynb
Gun_detection_Yolov3/No_use/
Gun_detection_Yolov3/gun_detection.mp4
Gun_detection_Yolov3/yolov3_custom.weights
Traffic_signs_classification/.ipynb_checkpoints/
Traffic_signs_classification/Meta.csv
Traffic_signs_classification/Meta.tar
Traffic_signs_classification/Test.csv
Traffic_signs_classification/Test.tar
Traffic_signs_classification/Test/
Traffic_signs_classification/Train.csv
Traffic_signs_classification/Train.tar
Traffic_signs_classification/Train/
Traffic_signs_classification/gtsrb-german-traffic-sign.zip
Age_prediction/
Car_brand_classification/.ipynb_checkpoints/
Car_brand_classification/Car_brand_classification.zip
Car_brand_classification/best_weights.h5
Car_brand_classification/car_data/
Car_brand_classification/colab.ipynb
License_Plate_Detection_and_Recognition/.ipynb_checkpoints/Plate_character_recognition_SVC-checkpoint.ipynb
Gun_detection_Yolov3/train_configure_file/yolov3_900.weights
Yolo_traffic_sign_detection_recognition/
License_Plate_Detection_and_Recognition/not_use/
License_Plate_Detection_and_Recognition/dataset/
License_Plate_Detection_and_Recognition/.ipynb_checkpoints/Car_plate_detection_and_recognition-checkpoint.ipynb




	
